.certificate{
    margin-top:10%;
    margin-left:4%;
    width:90%;
    font-family: 'Poppins', sans-serif;
}

.certificateimage{
    margin-top:6.1%;
    margin-left:25%;
    height:auto;
    width:40%;
    transition:transform 0.3s;
}

.certificateimage:hover{
    transform:scale(1.2);
}


.name{
    margin-top:4%;
    color:darkblue;
}